certbot/

# ========================================
# Emerald Proxy - Entorno y Seguridad
# ========================================
.env

# ========================================
# Certbot (Certificados y Desafíos Let's Encrypt)
# ========================================
certbot/conf/
certbot/www/
